<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.7.0"/>
  <package id="NUnit" version="3.7.1"/>
  <package id="NUnit" version="3.8.0"/>
  <package id="NUnit" version="3.8.1"/>
  <package id="NUnit" version="3.9.0"/>
    
    <!-- To be sure, though in the future we
         might consider testing with different console
         runners as well, especially if we're going
         to entend the engine itself (which we don't, currently) -->
    <package id="NUnit.ConsoleRunner" version="3.4.1"/>
  
    <!-- This is a NUnit packages.config file
         for restoring NUnit versions which are used in 
         the integration tests.
         
         Note this file has to be named "packages.config", because
         NuGet silently fails to restore packages if we rename it.
         For clarity this file has been placed in a seperate directory.
    -->
</packages>